@import url(https://fonts.googleapis.com/css?family=Poppins:600&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:500,700,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #6E757C;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: var(--background-01-light-theme, #EEEFF2);
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 70rem;
  margin: 0 auto;
}

[class*=__container-big] {
  max-width: 90rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-header {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-weight: 700;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.actions-header__login:hover {
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.actions-header__sign-up {
  color: #fff;
  background: var(--color-primary-cta, #FFDC60);
}

.actions-header__sign-up:hover {
  background: var(--color-primary-cta, #ffbd5a);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.main__container-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.85125rem;
  margin: 0;
}

.main__image {
  text-align: center;
}

.main__image img {
  max-width: 100%;
  max-height: 100%;
}

.description-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 34rem;
}

.description-main__label {
  color: var(--color-secondary, #748FB5);
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.3333333333;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.description-main__label:not(:last-child) {
  margin-bottom: 1.5rem;
}

.description-main__title {
  color: var(--state-bold, #272E35);
  font-style: normal;
  font-weight: 600;
  line-height: 1.1111111111;
}

.description-main__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.description-main__text {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.description-main__text:not(:last-child) {
  margin-bottom: 2.5rem;
}

.action-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.action-description__try {
  padding: 1rem 1.5rem;
  border-radius: 16px;
  background: var(--color-primary-cta, #FFDC60);
  color: #fff;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

.action-description__try:hover {
  background: var(--color-primary-cta, #ffbd5a);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.action-description__watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 0.625rem;
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
  border: 0.125rem solid #272E35;
  opacity: 0.75;
  color: #272E35;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.5;
}

.action-description__watch:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 0.125rem solid #ffda07;
}

.reviews__text {
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 1.5;
}

.reviews__text:not(:last-child) {
  margin-bottom: 1.5rem;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  height: 4rem;
}

/*background: hsla(205, 46%, 30%, 1);
   background: linear-gradient(135deg, hsla(205, 46%, 30%, 1) 0%, hsla(208, 16%, 21%, 1) 25%, hsla(208, 16%, 21%, 1) 75%, hsla(260, 29%, 36%, 1) 100%);
   background: -moz-linear-gradient(135deg, hsla(205, 46%, 30%, 1) 0%, hsla(208, 16%, 21%, 1) 25%, hsla(208, 16%, 21%, 1) 75%, hsla(260, 29%, 36%, 1) 100%);
   background: -webkit-linear-gradient(135deg, hsla(205, 46%, 30%, 1) 0%, hsla(208, 16%, 21%, 1) 25%, hsla(208, 16%, 21%, 1) 75%, hsla(260, 29%, 36%, 1) 100%);
*/

.keep__container-big {
  position: relative;
  max-width: 76.25rem;
  gap: 3.125rem;
}

.keep__image {
  position: absolute;
  top: 3.125rem;
  left: 0;
  z-index: 6;
}

.keep__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description-keep {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10.5rem 0rem;
  z-index: 5;
  width: 100%;
  background: hsl(205, 46%, 30%);
  background: -o-linear-gradient(315deg, hsl(205, 46%, 30%) 0%, hsl(208, 16%, 21%) 25%, hsl(208, 16%, 21%) 75%, hsl(260, 29%, 36%) 100%);
  background: linear-gradient(135deg, hsl(205, 46%, 30%) 0%, hsl(208, 16%, 21%) 25%, hsl(208, 16%, 21%) 75%, hsl(260, 29%, 36%) 100%);
  background: -webkit-linear-gradient(135deg, hsl(205, 46%, 30%) 0%, hsl(208, 16%, 21%) 25%, hsl(208, 16%, 21%) 75%, hsl(260, 29%, 36%) 100%);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.info-block {
  max-width: 28.4375rem;
}

.info-block__title {
  color: var(--state-bold-white, #FFF);
  font-style: normal;
  font-weight: 600;
  line-height: 1.1666666667;
}

.info-block__title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.info-block__text {
  max-width: 21.3125rem;
  color: var(--state-light-for-dark-bg, #6A7986);
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.info-block__text:not(:last-child) {
  margin-bottom: 1.5rem;
}

.action-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3125rem 0.625rem 0.25rem 0.375rem;
  align-items: center;
  gap: 0.1875rem;
  border-radius: 16px;
  border: 2px solid var(--state-bold-white, #FFF);
  opacity: 0.75;
  color: var(--state-bold-white, #FFF);
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}

.action-info img {
  width: 2.9375rem;
  height: 2.9375rem;
}

.score-keep {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  bottom: 1.3125rem;
  max-width: 69rem;
  border-radius: 0px 0px 24px 24px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.02%, #FEA989), color-stop(98.92%, #99B4DB));
  background: -o-linear-gradient(left, #FEA989 0.02%, #99B4DB 98.92%);
  background: linear-gradient(90deg, #FEA989 0.02%, #99B4DB 98.92%);
}

.score-keep__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
  padding-top: 0.3125rem;
}

.score-keep__divider {
  width: 0.125rem;
  opacity: 0.15;
  background: var(--color-white-background, #FFF);
}

.element-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.125rem;
  margin: 3.625rem 0rem;
}

.element-score__title {
  color: var(--state-bold, #272E35);
  font-style: normal;
  font-weight: 600;
  line-height: 1.1111111111;
}

.element-score__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.125rem 0.8125rem 0.125rem 0.625rem;
  border-radius: 90px;
  background: var(--color-white-background, #FFF);
  -webkit-box-shadow: 0rem 0.5rem 0.75rem 0rem rgba(0, 0, 0, 0.15);
          box-shadow: 0rem 0.5rem 0.75rem 0rem rgba(0, 0, 0, 0.15);
  color: var(--state-bold, #272E35);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
}

.instant__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instant__label {
  color: var(--color-secondary, #748FB5);
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  line-height: 1.3333333333;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.instant__label:not(:last-child) {
  margin-bottom: 1rem;
}

.instant__title {
  color: var(--state-bold, #272E35);
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1666666667;
  max-width: 37.4375rem;
}

.instant__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.content-instant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.element-instant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.element-instant:nth-child(1) {
  border-right: 0.25rem solid rgba(116, 143, 181, 0.15);
}

.element-instant:nth-child(2) {
  border-right: 0.25rem solid rgba(116, 143, 181, 0.15);
}

.element-instant:nth-child(3) {
  border-right: 0.25rem solid rgba(116, 143, 181, 0.15);
}

.block-instant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 11.25rem;
}

.block-instant__image:not(:last-child) {
  margin-bottom: 1rem;
}

.block-instant__label {
  color: var(--state-bold-white, #FFF);
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2;
  border-radius: 90px;
  background: var(--color-secondary, #748FB5);
  padding: 0.125rem 0.625rem;
}

.block-instant__label:not(:last-child) {
  margin-bottom: 1rem;
}

.block-instant__text {
  color: var(--state-bold, #272E35);
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  max-width: 10.9375rem;
}

.block-instant__text:not(:last-child) {
  margin-bottom: 1rem;
}

.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__image img {
  max-width: 100%;
  max-height: 100%;
}

.features__image:not(:last-child) {
  margin-bottom: 2.25rem;
}

.features__label {
  color: var(--color-secondary, #748FB5);
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  line-height: 1.3333333333;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.features__label:not(:last-child) {
  margin-bottom: 1rem;
}

.features__title {
  color: var(--state-bold, #272E35);
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1666666667;
  max-width: 34.25rem;
}

.content-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.element-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.element-features__title {
  color: var(--state-bold, #272E35);
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}

.element-features__divider {
  width: 5rem;
  height: 0.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  opacity: 0.15;
  background: var(--color-secondary, #748FB5);
}

.element-features__text {
  color: var(--state-light, #6E757C);
  font-family: Inter;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
}

.integrations__container-big {
  max-width: 73.5rem;
  text-align: right;
  padding-top: 1.5rem;
}

.integrations__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

.info-integrations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 25.3125rem;
}

.info-integrations__label {
  color: var(--color-secondary, #748FB5);
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  line-height: 1.3333333333;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.info-integrations__label:not(:last-child) {
  margin-bottom: 0.75rem;
}

.info-integrations__title {
  color: var(--state-bold, #272E35);
  font-style: normal;
  font-weight: 600;
  line-height: 1.1666666667;
}

.info-integrations__title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.info-integrations__text {
  color: var(--state-light, #6E757C);
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.partners-integrations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners-integrations__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partners-integrations__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.375rem;
  border-radius: 24px;
  background: var(--color-white-background, #FFF);
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.06);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.partners-integrations__item img {
  max-width: 100%;
  max-height: 100%;
}

.partners-integrations__item:hover {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: translateY(-0.625rem);
      -ms-transform: translateY(-0.625rem);
          transform: translateY(-0.625rem);
}

@media (min-width: 91.875em) {
  .header__container {
    padding-top: 9.0625rem;
  }

  .main__container {
    padding-top: 11.625rem;
  }

  .description-main__title {
    font-size: 4.5rem;
  }

  .description-main__text {
    font-size: 1.25rem;
  }

  .action-description__try {
    font-size: 1rem;
  }

  .action-description__watch {
    font-size: 1rem;
  }

  .reviews__container {
    padding-top: 5rem;
  }

  .keep__container {
    padding-top: 6.4375rem;
  }

  .info-block__title {
    font-size: 3rem;
  }

  .info-block__text {
    font-size: 1rem;
  }

  .action-info {
    font-size: 1rem;
  }

  .element-score {
    width: 15rem;
  }

  .element-score__title {
    font-size: 4.5rem;
  }

  .instant__container {
    padding-top: 5.4375rem;
  }

  .instant__label {
    font-size: 0.75rem;
  }

  .instant__title {
    font-size: 3rem;
  }

  .block-instant {
    margin-top: 2.875rem;
  }

  .block-instant {
    margin-bottom: 1.375rem;
  }

  .block-instant__text {
    font-size: 1rem;
  }

  .features__container-big {
    padding-top: 3.875rem;
  }

  .features__label {
    font-size: 0.75rem;
  }

  .features__title {
    font-size: 3rem;
  }

  .features__title:not(:last-child) {
    margin-bottom: 7rem;
  }

  .element-features__image:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .element-features__title {
    font-size: 1.25rem;
  }

  .element-features__title:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .element-features__divider:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .element-features__text {
    font-size: 1rem;
  }

  .integrations__triangle img {
    width: 5.5625rem;
  }

  .integrations__triangle img {
    height: 4.8125rem;
  }

  .integrations__container {
    gap: 3.125rem;
  }

  .integrations__container {
    padding-top: 2.404375rem;
  }

  .info-integrations {
    padding-top: 7.625rem;
  }

  .info-integrations__label {
    font-size: 0.75rem;
  }

  .info-integrations__title {
    font-size: 3.625rem;
  }

  .info-integrations__text {
    font-size: 1rem;
  }

  .partners-integrations {
    gap: 2.5rem;
  }

  .partners-integrations__section {
    row-gap: 2.5rem;
  }

  .partners-integrations__item {
    width: 8rem;
  }

  .partners-integrations__item {
    height: 8rem;
  }
}

@media (max-width: 20em) {
  .header__container {
    padding-top: 1.875rem;
  }

  .main__container {
    padding-top: 3.75rem;
  }

  .description-main__title {
    font-size: 2.8125rem;
  }

  .description-main__text {
    font-size: 1rem;
  }

  .action-description__try {
    font-size: 0.875rem;
  }

  .action-description__watch {
    font-size: 0.875rem;
  }

  .reviews__container {
    padding-top: 3.75rem;
  }

  .keep__container {
    padding-top: 1.875rem;
  }

  .info-block__title {
    font-size: 2.1875rem;
  }

  .info-block__text {
    font-size: 0.875rem;
  }

  .action-info {
    font-size: 0.875rem;
  }

  .element-score {
    width: 12.5rem;
  }

  .element-score__title {
    font-size: 3.4375rem;
  }

  .instant__container {
    padding-top: 1.875rem;
  }

  .instant__label {
    font-size: 0.6875rem;
  }

  .instant__title {
    font-size: 1.875rem;
  }

  .block-instant {
    margin-top: 1.4375rem;
  }

  .block-instant {
    margin-bottom: 0.6875rem;
  }

  .block-instant__text {
    font-size: 0.875rem;
  }

  .features__container-big {
    padding-top: 1.875rem;
  }

  .features__label {
    font-size: 0.6875rem;
  }

  .features__title {
    font-size: 1.875rem;
  }

  .features__title:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .element-features__image:not(:last-child) {
    margin-bottom: 1rem;
  }

  .element-features__title {
    font-size: 1rem;
  }

  .element-features__title:not(:last-child) {
    margin-bottom: 1rem;
  }

  .element-features__divider:not(:last-child) {
    margin-bottom: 1rem;
  }

  .element-features__text {
    font-size: 0.875rem;
  }

  .integrations__triangle img {
    width: 3.6875rem;
  }

  .integrations__triangle img {
    height: 2.9375rem;
  }

  .integrations__container {
    gap: 1.875rem;
  }

  .integrations__container {
    padding-top: 1.875rem;
  }

  .info-integrations {
    padding-top: 1.875rem;
  }

  .info-integrations__label {
    font-size: 0.6875rem;
  }

  .info-integrations__title {
    font-size: 2.1875rem;
  }

  .info-integrations__text {
    font-size: 0.875rem;
  }

  .partners-integrations {
    gap: 1.25rem;
  }

  .partners-integrations__section {
    row-gap: 1.25rem;
  }

  .partners-integrations__item {
    width: 5rem;
  }

  .partners-integrations__item {
    height: 5rem;
  }
}

@media (max-width: 68.81125em) {
  .keep__image img {
    width: 90%;
    height: 90%;
  }

  .keep__image {
    top: 5rem;
  }

  .info-block {
    max-width: 25.9375rem;
  }
}

@media (max-width: 68.81125em) and (max-width: 20em) {
  .score-keep__list {
    gap: 0.0000000625rem;
  }
}

@media (max-width: 63.49875em) {
  .keep__image img {
    width: 80%;
    height: 80%;
  }

  .keep__image {
    top: 7.5rem;
  }

  .info-block {
    max-width: 24.375rem;
  }
}

@media (max-width: 57.56125em) {
  .keep__image img {
    width: 31.625rem;
    height: 31.15625rem;
  }

  .keep__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  .description-keep {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 4.25rem;
  }

  .info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 57.56125em) and (max-width: 20em) {
  .keep__image {
    top: 22.5rem;
  }

  .description-keep {
    padding-bottom: 17.8125rem;
  }
}

@media (max-width: 55.06125em) {
  .main__container-big {
    display: block;
  }

  .description-main {
    max-width: 100%;
  }
}

@media (max-width: 55.06125em) and (max-width: 20em) {
  .main__image img {
    padding-top: 1.875rem;
  }
}

@media (max-width: 50.68625em) {
  .content-features {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 3.125rem;
  }
}

@media (max-width: 48.18625em) {
  .score-keep__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .score-keep__divider {
    width: 100%;
    height: 0.125rem;
  }
}

@media (max-width: 48.81125em) {
  .content-instant {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .element-instant:nth-child(2) {
    border: none;
  }
}

@media (max-width: 42.56125em) {
  .integrations__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .info-integrations {
    max-width: 100%;
  }
}

@media (max-width: 35.68625em) {
  .keep__image img {
    width: 88.75%;
    height: 88.75%;
  }

  .keep__image {
    max-width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (max-width: 28.18625em) {
  .content-instant {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .element-instant:nth-child(1) {
    border-right: none;
    border-bottom: 0.25rem solid rgba(116, 143, 181, 0.15);
  }

  .element-instant:nth-child(2) {
    border-bottom: 0.25rem solid rgba(116, 143, 181, 0.15);
  }

  .element-instant:nth-child(3) {
    border-right: none;
    border-bottom: 0.25rem solid rgba(116, 143, 181, 0.15);
  }

  .block-instant__image img {
    width: 3.125rem;
    height: 3.125rem;
  }
}

@media (max-width: 27.5em) {
  .header__logo img {
    width: 70%;
    height: 70%;
  }

  .button-header {
    padding: 0.625rem 0.875rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 23.81125em) {
  .action-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content-features {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .element-features__image img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (max-width: 22.87375em) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
  }

  .header__logo {
    text-align: center;
  }

  .button-header {
    font-size: 1rem;
    padding: 0.625rem 1.5rem;
  }
}

@media (min-width: 20em) and (max-width: 91.875em) {
@supports (padding-top: clamp( 1.875rem , -0.125rem  +  10vw , 9.0625rem )) {
    .header__container {
      padding-top: clamp( 1.875rem , -0.125rem  +  10vw , 9.0625rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.125rem  +  10vw , 9.0625rem )) {
    .header__container {
      padding-top: calc(1.875rem + 7.1875 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-top: clamp( 3.75rem , 1.5586956522rem  +  10.9565217391vw , 11.625rem )) {
    .main__container {
      padding-top: clamp( 3.75rem , 1.5586956522rem  +  10.9565217391vw , 11.625rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 1.5586956522rem  +  10.9565217391vw , 11.625rem )) {
    .main__container {
      padding-top: calc(3.75rem + 7.875 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 2.8125rem , 2.3429347826rem  +  2.347826087vw , 4.5rem )) {
    .description-main__title {
      font-size: clamp( 2.8125rem , 2.3429347826rem  +  2.347826087vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 2.8125rem , 2.3429347826rem  +  2.347826087vw , 4.5rem )) {
    .description-main__title {
      font-size: calc(2.8125rem + 1.6875 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1rem , 0.9304347826rem  +  0.347826087vw , 1.25rem )) {
    .description-main__text {
      font-size: clamp( 1rem , 0.9304347826rem  +  0.347826087vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9304347826rem  +  0.347826087vw , 1.25rem )) {
    .description-main__text {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem )) {
    .action-description__try {
      font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem )) {
    .action-description__try {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem )) {
    .action-description__watch {
      font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem )) {
    .action-description__watch {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-top: clamp( 3.75rem , 3.402173913rem  +  1.7391304348vw , 5rem )) {
    .reviews__container {
      padding-top: clamp( 3.75rem , 3.402173913rem  +  1.7391304348vw , 5rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 3.402173913rem  +  1.7391304348vw , 5rem )) {
    .reviews__container {
      padding-top: calc(3.75rem + 1.25 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.6054347826rem  +  6.347826087vw , 6.4375rem )) {
    .keep__container {
      padding-top: clamp( 1.875rem , 0.6054347826rem  +  6.347826087vw , 6.4375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.6054347826rem  +  6.347826087vw , 6.4375rem )) {
    .keep__container {
      padding-top: calc(1.875rem + 4.5625 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.9614130435rem  +  1.1304347826vw , 3rem )) {
    .info-block__title {
      font-size: clamp( 2.1875rem , 1.9614130435rem  +  1.1304347826vw , 3rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.9614130435rem  +  1.1304347826vw , 3rem )) {
    .info-block__title {
      font-size: calc(2.1875rem + 0.8125 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem )) {
    .info-block__text {
      font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem )) {
    .info-block__text {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem )) {
    .action-info {
      font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem )) {
    .action-info {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 71.875);
    }
}

@supports (width: clamp( 12.5rem , 11.8043478261rem  +  3.4782608696vw , 15rem )) {
    .element-score {
      width: clamp( 12.5rem , 11.8043478261rem  +  3.4782608696vw , 15rem );
    }
}

@supports not (width: clamp( 12.5rem , 11.8043478261rem  +  3.4782608696vw , 15rem )) {
    .element-score {
      width: calc(12.5rem + 2.5 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 3.4375rem , 3.1418478261rem  +  1.4782608696vw , 4.5rem )) {
    .element-score__title {
      font-size: clamp( 3.4375rem , 3.1418478261rem  +  1.4782608696vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 3.4375rem , 3.1418478261rem  +  1.4782608696vw , 4.5rem )) {
    .element-score__title {
      font-size: calc(3.4375rem + 1.0625 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.8836956522rem  +  4.9565217391vw , 5.4375rem )) {
    .instant__container {
      padding-top: clamp( 1.875rem , 0.8836956522rem  +  4.9565217391vw , 5.4375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.8836956522rem  +  4.9565217391vw , 5.4375rem )) {
    .instant__container {
      padding-top: calc(1.875rem + 3.5625 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 0.6875rem , 0.6701086957rem  +  0.0869565217vw , 0.75rem )) {
    .instant__label {
      font-size: clamp( 0.6875rem , 0.6701086957rem  +  0.0869565217vw , 0.75rem );
    }
}

@supports not (font-size: clamp( 0.6875rem , 0.6701086957rem  +  0.0869565217vw , 0.75rem )) {
    .instant__label {
      font-size: calc(0.6875rem + 0.0625 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.875rem , 1.5619565217rem  +  1.5652173913vw , 3rem )) {
    .instant__title {
      font-size: clamp( 1.875rem , 1.5619565217rem  +  1.5652173913vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.5619565217rem  +  1.5652173913vw , 3rem )) {
    .instant__title {
      font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-top: clamp( 1.4375rem , 1.0375rem  +  2vw , 2.875rem )) {
    .block-instant {
      margin-top: clamp( 1.4375rem , 1.0375rem  +  2vw , 2.875rem );
    }
}

@supports not (margin-top: clamp( 1.4375rem , 1.0375rem  +  2vw , 2.875rem )) {
    .block-instant {
      margin-top: calc(1.4375rem + 1.4375 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-bottom: clamp( 0.6875rem , 0.4961956522rem  +  0.9565217391vw , 1.375rem )) {
    .block-instant {
      margin-bottom: clamp( 0.6875rem , 0.4961956522rem  +  0.9565217391vw , 1.375rem );
    }
}

@supports not (margin-bottom: clamp( 0.6875rem , 0.4961956522rem  +  0.9565217391vw , 1.375rem )) {
    .block-instant {
      margin-bottom: calc(0.6875rem + 0.6875 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem )) {
    .block-instant__text {
      font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem )) {
    .block-instant__text {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.3184782609rem  +  2.7826086957vw , 3.875rem )) {
    .features__container-big {
      padding-top: clamp( 1.875rem , 1.3184782609rem  +  2.7826086957vw , 3.875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.3184782609rem  +  2.7826086957vw , 3.875rem )) {
    .features__container-big {
      padding-top: calc(1.875rem + 2 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 0.6875rem , 0.6701086957rem  +  0.0869565217vw , 0.75rem )) {
    .features__label {
      font-size: clamp( 0.6875rem , 0.6701086957rem  +  0.0869565217vw , 0.75rem );
    }
}

@supports not (font-size: clamp( 0.6875rem , 0.6701086957rem  +  0.0869565217vw , 0.75rem )) {
    .features__label {
      font-size: calc(0.6875rem + 0.0625 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.875rem , 1.5619565217rem  +  1.5652173913vw , 3rem )) {
    .features__title {
      font-size: clamp( 1.875rem , 1.5619565217rem  +  1.5652173913vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.5619565217rem  +  1.5652173913vw , 3rem )) {
    .features__title {
      font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 2.0467391304rem  +  5.3913043478vw , 7rem )) {
    .features__title:not(:last-child) {
      margin-bottom: clamp( 3.125rem , 2.0467391304rem  +  5.3913043478vw , 7rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.0467391304rem  +  5.3913043478vw , 7rem )) {
    .features__title:not(:last-child) {
      margin-bottom: calc(3.125rem + 3.875 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.8608695652rem  +  0.6956521739vw , 1.5rem )) {
    .element-features__image:not(:last-child) {
      margin-bottom: clamp( 1rem , 0.8608695652rem  +  0.6956521739vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.8608695652rem  +  0.6956521739vw , 1.5rem )) {
    .element-features__image:not(:last-child) {
      margin-bottom: calc(1rem + 0.5 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1rem , 0.9304347826rem  +  0.347826087vw , 1.25rem )) {
    .element-features__title {
      font-size: clamp( 1rem , 0.9304347826rem  +  0.347826087vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9304347826rem  +  0.347826087vw , 1.25rem )) {
    .element-features__title {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.8608695652rem  +  0.6956521739vw , 1.5rem )) {
    .element-features__title:not(:last-child) {
      margin-bottom: clamp( 1rem , 0.8608695652rem  +  0.6956521739vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.8608695652rem  +  0.6956521739vw , 1.5rem )) {
    .element-features__title:not(:last-child) {
      margin-bottom: calc(1rem + 0.5 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.8608695652rem  +  0.6956521739vw , 1.5rem )) {
    .element-features__divider:not(:last-child) {
      margin-bottom: clamp( 1rem , 0.8608695652rem  +  0.6956521739vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.8608695652rem  +  0.6956521739vw , 1.5rem )) {
    .element-features__divider:not(:last-child) {
      margin-bottom: calc(1rem + 0.5 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem )) {
    .element-features__text {
      font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem )) {
    .element-features__text {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 71.875);
    }
}

@supports (width: clamp( 3.6875rem , 3.1657608696rem  +  2.6086956522vw , 5.5625rem )) {
    .integrations__triangle img {
      width: clamp( 3.6875rem , 3.1657608696rem  +  2.6086956522vw , 5.5625rem );
    }
}

@supports not (width: clamp( 3.6875rem , 3.1657608696rem  +  2.6086956522vw , 5.5625rem )) {
    .integrations__triangle img {
      width: calc(3.6875rem + 1.875 * (100vw - 20rem) / 71.875);
    }
}

@supports (height: clamp( 2.9375rem , 2.4157608696rem  +  2.6086956522vw , 4.8125rem )) {
    .integrations__triangle img {
      height: clamp( 2.9375rem , 2.4157608696rem  +  2.6086956522vw , 4.8125rem );
    }
}

@supports not (height: clamp( 2.9375rem , 2.4157608696rem  +  2.6086956522vw , 4.8125rem )) {
    .integrations__triangle img {
      height: calc(2.9375rem + 1.875 * (100vw - 20rem) / 71.875);
    }
}

@supports (gap: clamp( 1.875rem , 1.527173913rem  +  1.7391304348vw , 3.125rem )) {
    .integrations__container {
      gap: clamp( 1.875rem , 1.527173913rem  +  1.7391304348vw , 3.125rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.527173913rem  +  1.7391304348vw , 3.125rem )) {
    .integrations__container {
      gap: calc(1.875rem + 1.25 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.7276956522rem  +  0.7365217391vw , 2.404375rem )) {
    .integrations__container {
      padding-top: clamp( 1.875rem , 1.7276956522rem  +  0.7365217391vw , 2.404375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.7276956522rem  +  0.7365217391vw , 2.404375rem )) {
    .integrations__container {
      padding-top: calc(1.875rem + 0.529375 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.275rem  +  8vw , 7.625rem )) {
    .info-integrations {
      padding-top: clamp( 1.875rem , 0.275rem  +  8vw , 7.625rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.275rem  +  8vw , 7.625rem )) {
    .info-integrations {
      padding-top: calc(1.875rem + 5.75 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 0.6875rem , 0.6701086957rem  +  0.0869565217vw , 0.75rem )) {
    .info-integrations__label {
      font-size: clamp( 0.6875rem , 0.6701086957rem  +  0.0869565217vw , 0.75rem );
    }
}

@supports not (font-size: clamp( 0.6875rem , 0.6701086957rem  +  0.0869565217vw , 0.75rem )) {
    .info-integrations__label {
      font-size: calc(0.6875rem + 0.0625 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.7875rem  +  2vw , 3.625rem )) {
    .info-integrations__title {
      font-size: clamp( 2.1875rem , 1.7875rem  +  2vw , 3.625rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.7875rem  +  2vw , 3.625rem )) {
    .info-integrations__title {
      font-size: calc(2.1875rem + 1.4375 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem )) {
    .info-integrations__text {
      font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8402173913rem  +  0.1739130435vw , 1rem )) {
    .info-integrations__text {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 71.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.902173913rem  +  1.7391304348vw , 2.5rem )) {
    .partners-integrations {
      gap: clamp( 1.25rem , 0.902173913rem  +  1.7391304348vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.902173913rem  +  1.7391304348vw , 2.5rem )) {
    .partners-integrations {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 71.875);
    }
}

@supports (row-gap: clamp( 1.25rem , 0.902173913rem  +  1.7391304348vw , 2.5rem )) {
    .partners-integrations__section {
      row-gap: clamp( 1.25rem , 0.902173913rem  +  1.7391304348vw , 2.5rem );
    }
}

@supports not (row-gap: clamp( 1.25rem , 0.902173913rem  +  1.7391304348vw , 2.5rem )) {
    .partners-integrations__section {
      row-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 71.875);
    }
}

@supports (width: clamp( 5rem , 4.1652173913rem  +  4.1739130435vw , 8rem )) {
    .partners-integrations__item {
      width: clamp( 5rem , 4.1652173913rem  +  4.1739130435vw , 8rem );
    }
}

@supports not (width: clamp( 5rem , 4.1652173913rem  +  4.1739130435vw , 8rem )) {
    .partners-integrations__item {
      width: calc(5rem + 3 * (100vw - 20rem) / 71.875);
    }
}

@supports (height: clamp( 5rem , 4.1652173913rem  +  4.1739130435vw , 8rem )) {
    .partners-integrations__item {
      height: clamp( 5rem , 4.1652173913rem  +  4.1739130435vw , 8rem );
    }
}

@supports not (height: clamp( 5rem , 4.1652173913rem  +  4.1739130435vw , 8rem )) {
    .partners-integrations__item {
      height: calc(5rem + 3 * (100vw - 20rem) / 71.875);
    }
}
}

@media (max-width: 55.06125em) and (min-width: 91.875em) {
  .main__image img {
    padding-top: 3.75rem;
  }
}

@media (max-width: 55.06125em) and (min-width: 20em) and (max-width: 91.875em) {
@supports (padding-top: clamp( 1.875rem , 1.3532608696rem  +  2.6086956522vw , 3.75rem )) {
    .main__image img {
      padding-top: clamp( 1.875rem , 1.3532608696rem  +  2.6086956522vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.3532608696rem  +  2.6086956522vw , 3.75rem )) {
    .main__image img {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 71.875);
    }
}
}

@media (max-width: 57.56125em) and (min-width: 57.56125em) {
  .keep__image {
    top: 26.25rem;
  }
}

@media (max-width: 57.56125em) and (min-width: 20em) and (max-width: 57.56125em) {
@supports (top: clamp( 22.5rem , 20.5032613398rem  +  9.9836933009vw , 26.25rem )) {
    .keep__image {
      top: clamp( 22.5rem , 20.5032613398rem  +  9.9836933009vw , 26.25rem );
    }
}

@supports not (top: clamp( 22.5rem , 20.5032613398rem  +  9.9836933009vw , 26.25rem )) {
    .keep__image {
      top: calc(22.5rem + 3.75 * (100vw - 20rem) / 37.56125);
    }
}
}

@media (max-width: 57.56125em) and (min-width: 35.68625em) {
  .description-keep {
    padding-bottom: 30.9375rem;
  }
}

@media (max-width: 57.56125em) and (min-width: 20em) and (max-width: 35.68625em) {
@supports (padding-bottom: clamp( 17.8125rem , 1.0780988525rem  +  83.6720057375vw , 30.9375rem )) {
    .description-keep {
      padding-bottom: clamp( 17.8125rem , 1.0780988525rem  +  83.6720057375vw , 30.9375rem );
    }
}

@supports not (padding-bottom: clamp( 17.8125rem , 1.0780988525rem  +  83.6720057375vw , 30.9375rem )) {
    .description-keep {
      padding-bottom: calc(17.8125rem + 13.125 * (100vw - 20rem) / 15.68625);
    }
}
}

@media (max-width: 68.81125em) and (min-width: 91.875em) {
  .score-keep__list {
    gap: 3.125rem;
  }
}

@media (max-width: 68.81125em) and (min-width: 20em) and (max-width: 91.875em) {
@supports (gap: clamp( 0.0000000625rem , -0.8695651375rem  +  4.347826vw , 3.125rem )) {
    .score-keep__list {
      gap: clamp( 0.0000000625rem , -0.8695651375rem  +  4.347826vw , 3.125rem );
    }
}

@supports not (gap: clamp( 0.0000000625rem , -0.8695651375rem  +  4.347826vw , 3.125rem )) {
    .score-keep__list {
      gap: calc(0.0000000625rem + 3.1249999375 * (100vw - 20rem) / 71.875);
    }
}
}